sudo: required
branches:
  only:
  - master
matrix:
  include:
    - language: node_js
      node_js:
        - "8"
      services:
        - docker
      before_deploy:
        - echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ wheezy main" | sudo tee /etc/apt/sources.list.d/azure-cli.list
        - curl -L https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
        - sudo apt-get install -y apt-transport-https
        - sudo apt-get update && sudo apt-get install -y azure-cli
        - npm i -g azure-functions-core-tools --unsafe-perm true
      script: skip
    - language: python
      python:
        - "3.6"
      install:
        - pip install -r requirements.txt
        - pip install -r requirements-dev.txt
      script:
        - pytest
        - make sphinx
        - flake8 --ignore=E402,F401,F811 RunRules ScanResources StoreResources TagResources TaskScheduler tests
      before_deploy:
        - make sphinx
      deploy:
        - provider: pages
          skip_cleanup: true
          local-dir: docs/build/html
          github-token: $GITHUB_TOKEN
          keep-history: true
          on:
            branch: master
        - provider: script
          script:
            - az login --service-principal --username "$AZ_SP_ID" --password "$AZ_SP_SECRET" --tenant "$AZ_TENANT_ID"
            - az account get-access-token --query "accessToken" | func azure functionapp publish $AZ_FUNCTIONS_APP_NAME --build-native-deps --force
          on:
            branch: master
